.banner-slider {
    width: 100%;


    .banner-slide {
        height: 750px;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
    }

    .banner-overlay {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.7) 0%,
                rgba(0, 0, 0, 0.4) 40%,
                rgba(0, 0, 0, 0.1) 70%);
        display: flex;
        align-items: center;
    }

    .banner-content {
        max-width: 750px;
        padding-left: 120px;
        color: white;
    }

    .slick-dots {

        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        gap: 24px;


    }

    .slick-dots li {
        margin: 0 10px;
        width: initial;
        height: initial;

        button {
            // width: 10px;
            // height: 10px;
            padding: 0;
            background-color: rgba(var(--bs-white-rgb), 0.5);
            border-radius: 50px;

            &::before {
                content: none;
            }
        }
    }

    .slick-dots li button:hover {
        background-color: var(--bs-warning);
    }

    .slick-dots li.slick-active button {
        width: 32px;
        height: 12px;
        border-radius: 8px;
        background-color: var(--bs-warning);
    }
}

.general-slider {
    .slick-dots {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
    }

    .slick-dots li button {
        background-color: rgba(var(--bs-primary-rgb), 0.5);
        border-radius: 50px;
        width: 10px;
        height: 10px;

        &::before {
            content: none;
        }
    }

    .slick-dots li button:hover {
        background-color: var(--bs-primary);
    }

    .slick-dots li.slick-active button {
        width: 32px;
        height: 12px;
        border-radius: 8px;
        background-color: var(--bs-primary);
    }
}


/* responsive */

@media (max-width: 1024px) {
    .banner-slider {
        .banner-content {
            padding-left: 60px;
        }
    }
    .general-slider {
    .slick-dots {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
    }
}
}

@media (max-width: 768px) {
    .banner-slider {
        .banner-content {
            padding: 30px;
        }
    }
}